@import 'node_modules/ember-frost-theme/scss/frost-theme';

.frost-link {
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  font-family: $frost-font-family; // FIXME Font variable with frost-font-x convention wasn't defined
  cursor: pointer;
  user-select: none;

   &.disabled {
    opacity: 0.25 !important;
    box-shadow: none !important;
    border: none !important;
    &:hover {
      background-color: inherit !important;
    }
  }

  &:focus, &:active {
    outline: none;
  }

  &.hidden {
    visibility: hidden;
  }


  // Function based coloring
  &.primary {
    background: linear-gradient(lighten($frost-color-blue-1, 14), $frost-color-blue-1);
    color: $frost-color-white;

    &:hover {
      opacity:0.8;
      background-color:$frost-color-blue-2;
    }

    &:focus{
      border:2px solid $frost-color-blue-3;
      box-shadow:0 2px 8px rgba($frost-color-blue-1, 0.75);
      outline:0;
    }

    &:active {
      background-color:$frost-color-blue-2;
      opacity:0.7;
      box-shadow:none;
    }
  }

  &.secondary {
    border: 2px solid $frost-color-blue-1;
    background-color: $frost-color-white;
    color: $frost-color-blue-1;

    &:hover {
      background-color:rgba($frost-color-blue-1, 0.1);
      box-shadow: none;
    }

    &:focus {
      outline:0;
      box-shadow:0 1px 6px rgba($frost-color-blue-1, 0.75);
    }

    &:active {
      background-color: rgba($frost-color-blue-1, 0.1);
      opacity: 0.7;
      color: $frost-color-blue-1;
      box-shadow: none;
    }
  }

  &.tertiary {
    background-color: inherit;
    color: $frost-color-blue-1;

    &:hover {
      background-color:rgba($frost-color-blue-1, 0.1);
    }

    &:active {
      color: $frost-color-blue-3;
    }

    &:focus{
     outline:0;
     box-shadow:0 1px 6px rgba($frost-color-blue-1, 0.75);
    }

    &:active {
      background-color: rgba($frost-color-blue-1, 0.1);
      opacity: 0.7;
      color: $frost-color-blue-1;
      box-shadow: none;
    }
  }

  // Sizes
  &.extra-large {
    height: 60px;
    padding: 0 20px 0 20px;
    font-size: $frost-font-l;

    .frost-icon {
      width: 40px;
      height: 40px;
    }
  }

  &.large {
    height: 50px;
    padding: 0 20px;
    font-size: $frost-font-l;

    .frost-icon {
      width: 40px;
      height: 40px;
    }
  }

  &.medium {
    height: 40px;
    padding: 0 20px;
    font-size: $frost-font-m;

    .frost-icon {
      width: 30px;
      height: 30px;
    }

  }

   &.small {
    height: 30px;
    padding: 0 10px;
    font-size: $frost-font-s;

    .frost-icon {
      width: 20px;
      height: 20px;
    }
   }

  > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 120px;
    box-sizing: border-box;

    .text {
      vertical-align: middle;
      text-align: center;
      padding: 0 1px 2px 1px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
  }
  // Content - text
  &.text {
    // Deprecated format
    vertical-align: middle;
    &.small {
      line-height: 32px;
    }
    &.medium {
      line-height: 42px;
    }
    &.large {
      line-height: 52px;
    }
    &.extra-large {
      line-height: 30px;
    }
  }

  > .text {
    // Deprecated format
    vertical-align: middle;
    text-align: center;
    padding: 5px 1px 2px 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  // Content - icon
  &.icon {
    // Deprecated format
    display: inline-flex;
    align-items: center;
  }

  > .icon {
    height: 100%;
    display: flex;
    align-items: center;
  }

  // Content - text-info
  > .icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;

    .text {
      padding-left: 20px;
    }
  }

  // Content - text-info
  > .text-icon {
    display: flex;
    flex-direction: row;
    align-items: center;

    .text {
      padding-right: 10px;
    }

    .frost-icon {
      display: flex;
      align-items: center;
      width: 15px;
      height: 15px;
    }
  }

  // Content - info
  > .info {
    display: flex;
    align-items: center;
    padding-top: 6px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;
      padding-bottom: 3px;
      line-height: 15px;


      .alias {
        font-size: $frost-font-l;
        color: $frost-color-white;
        line-height: 32px;
      }

      .details {
        font-size: $frost-font-s;
        color: rgba($frost-color-white, 0.8);
      }
    }
  }

  // Create button styling
  > .icon-action {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75px;
    height: 75px;
    background-color: $frost-color-white;
    color: $frost-color-blue-1;

    .frost-icon  {
      padding-bottom: 0px;
      width: 40px;
      height: 40px;
    }


    .text {
      display: inline-block;
      padding: 5px 1px 2px 1px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      margin-top: -5px;
      font-size: $frost-font-s;
      color: $frost-color-blue-1;
      line-height: 1;
    }

    &:hover {
      background-color:rgba($frost-color-blue-1, 0.1);
    }

    &:focus{
      outline:0;
      box-shadow:0 1px 6px rgba($frost-color-blue-1, 0.75);
    }

    &:active {
      background-color: rgba($frost-color-blue-1, 0.1);
      opacity: 0.7;
      color: $frost-color-blue-1;
      box-shadow: none;
    }
  }

  &.separator {
    border-right: 1px solid $frost-color-lgrey-1;
  }

  &.space {
    width: 5px;
  }
}
