@import 'node_modules/ember-frost-theme/scss/frost-theme';
@import 'node_modules/ember-frost-css-core/scss/frost-core';

$frost-color-link-primary-focus-bg: #a1e7ff;
$frost-color-link-primary-pressed-bg: #1e9de5;
$frost-color-link-secondary-pressed-bg: #e7eef3;


$frost-color-link-focus-box-shadow: 0 1px 6px rgba(0,158,239, 0.75);


.frost-link {
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;

   &.disabled {
    opacity: 0.25;
    box-shadow: none !important;
    border: none;
    cursor: default;

     &:hover {
      background-color: inherit
    }
  }

  &:focus, &:active {
    outline: none;
  }

  &.hidden {
    visibility: hidden;
  }


  // Function based coloring
  &.primary {
    background: linear-gradient(lighten($frost-color-blue-1, 14), $frost-color-blue-1);
    color: $frost-color-white;

    &:hover {
      background: $frost-color-blue-3;
    }

    &:focus{
      border: 2px solid $frost-color-link-primary-focus-bg;
      box-shadow: $frost-color-link-focus-box-shadow;
      outline:0;
    }

    &:active {
      box-shadow:none;
    }

    &.is-pressed {
      background: $frost-color-link-primary-pressed-bg;
      .content {
        opacity: 0.5;
      }
    }

    &.disabled {
      &:hover {
        background: linear-gradient(lighten($frost-color-blue-1, 14), $frost-color-blue-1);
      }
      &:focus {
        border: none;
      }
    }
  }

  &.secondary {
    border: 2px solid $frost-color-blue-1;
    background-color: $frost-color-white;
    color: $frost-color-blue-1;

    &:hover {
      background-color:rgba($frost-color-blue-1, 0.05);
      box-shadow: none;
    }

    &:focus {
      outline:0;
      box-shadow: $frost-color-link-focus-box-shadow;
    }

    &:active {
      box-shadow: none;
    }

    .is-focused {
      .text{
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }

    &.is-pressed {
      background: $frost-color-link-secondary-pressed-bg;
      .content {
        opacity: 0.5;
      }
    }

    &.disabled {
      &:hover {
        background: none;
      }
    }
  }

  &.tertiary {
    background-color: inherit;
    color: $frost-color-blue-1;

    .text {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    &:hover {
      background-color:rgba($frost-color-blue-1, 0.05);
    }

    &:focus{
      outline:0;
      box-shadow:0 1px 6px rgba($frost-color-blue-1, 0.75);
    }

    &:active {
      box-shadow: none;
    }

    &.is-pressed {
      .content {
        color: $frost-color-blue-2;
      }
    }

    &.disabled {
      opacity: 0.3;
      background: none;
    }
  }


  // Sizes
  &.large {
    height: 50px;
    padding: 0 20px;
    font-size: $frost-font-l;

    .frost-icon {
      width: 40px;
      height: 40px;
    }
  }

  &.medium {
    height: 40px;
    padding: 0 20px;
    font-size: $frost-font-m;

    .frost-icon {
      width: 30px;
      height: 30px;
    }

  }

   &.small {
    height: 30px;
    padding: 0 10px;
    font-size: $frost-font-s;

    .frost-icon {
      width: 20px;
      height: 20px;
    }
   }

  > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 120px;
    box-sizing: border-box;

    .text {
      vertical-align: middle;
      text-align: center;
      padding: 0 1px 2px 1px;
    }

    .svg {
      margin-left: 10px;
    }
  }
}
