@import 'frost-theme';
@import 'frost-core';

// Everything larger than portrait phone
@mixin phone-portrait-and-up {
  @media only screen and (min-width: 425px + 1) {
    @content;
  }
}

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 1060;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.dummy-body {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.section {
  float: left;
  padding-right: 30px;

  > .title {
    font-size: $frost-font-xl;
    padding-bottom: 20px;
  }

  .example {
    padding-bottom: 10px;

    > .title {
      font-size: $frost-font-l;
      padding-bottom: 10px;
    }

    .snippet {
      display: inline-block;
      font-size: $frost-font-s;
      margin-right: 20px;
      margin-top: -15px;
      vertical-align: top;
    }

    .demo {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.dummy-content {
  flex: 1;
}

