{{#if (eq priority 'primary')}}
    <div class='content'>
      {{yield}}
        <div class='svg'>{{frost-icon icon='frost/new-tab'}}</div>
    </div>
{{/if}}

{{#if (or priority 'secondary' 'tertiary')}}
    <div class='content'>
      {{yield}}
    </div>
{{/if}}